.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #cecece;
  padding: 0 20px;
}

.navbar .logo {
  font-weight: bold;
  font-size: 20px;
}

.navbar .icons {
  display: flex;
  align-items: center;
}
.navbar .icons .airplane {
  transform: rotate(45deg);
  margin-left: 5px;
  margin-bottom: 5px;
}
.navbar .icons .heart-container {
  display: inline-block;
  position: relative;
}
.navbar .icons .heart-container .noti {
  display: inline-block;
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
  right: 0;
  top: 0;
}
.navbar .icons .heart-container .heart {
  vertical-align: text-top;
}
